@model eCommerce.Models.mcs_ProductPhoto

@{
	ViewData["Title"] = "Delete - mcs_ProductPhoto";
	Layout="~/Pages/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <h1>mcs_ProductPhoto - Delete</h1>
    <h3>Are you sure you want to delete this?</h3>

        <div class="display-label">ProductPhotoId</div>
        <div class="display-field">@Html.DisplayFor(m => m.ProductPhotoId)</div>
        <div class="display-label">ProductId</div>
        <div class="display-field">@Html.DisplayFor(m => m.ProductId)</div>
        <div class="display-label">Url</div>
        <div class="display-field">@Html.DisplayFor(m => m.Url)</div>
    <p>
        <input type="submit" value="Delete" />
    </p>

    <p>
    @Html.ActionLink("Back to List", "Index")
    </p>
}