@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="hero-image">
    <div class="hero-text">
        <h1 style="font-size:50px">Welcome</h1>
        <p>Sample shopping site</p>
        <a class="btn btn-primary" href="/product">Let's start</a>
    </div>
</div>

<div class="text-center">
    <p>This site is the working version of the codes produced in the menthalcoding system.</p>
    <p><a href="https://menthalcoding.com" target="_blank">Learn about..</a></p>
</div>